<%- include('../partials/header', { user }) %>
<div class="cards-container" style="margin-left: 500px;">
  <% for (const fave of faves) { %>
  <div class="card d-inline-block" style="width: 30rem;height: 10rem;">
    <div class="card-body">
      <h5 class="card-title">
        <a href="/food/<%=fave.foodId %>  "><%= fave.description %> </a>
      </h5>
     

      <form action="/comments/food/<%=fave.id%>" method="POST">
        <input class="form-control" styletype="text" name="content" />

        <button
          class="btn btn-primary"
          type="submit"
          value="Submit"
          style="border-radius: 10px"
        >
           comments
        </button>
      </form>
      <%fave.comments.forEach(comment => {%> <%=comment.content %> <%}) %>
      
    </form>   
    <form  method="POST" action="/users/faves/<%= fave.foodId %>/?_method=DELETE">
      
      
      <input type="hidden" name="_method" value="DELETE">
    <input type="submit" class="btn btn-outline-danger btn-sm" value="DELETE">
    

  
      <%}%>

    </div>
  </div>
</div>
<a style="margin-top: -200px;"href="/">&larr; Back Home </a>
