

<%- include('../partials/header', { user }) %>
<div class="cards-container">
    <% for (const fave of faves) { %>
      <div class="card d-inline-block" style="width: 20rem;">
        <div class="card-body">
         <h5 class="card-title"><a  href="/food/<%=fave.foodId %>  "><%= fave.description %> </a>
          <form action="/food/<%=faves.foodId%>?_method=DELETE" method="POST">
            <button class="btn btn-warning" type="submit">Delete</button>
          </form>
        
        </h5> 
          
    
        <form  action="/comments/food/<%=fave.id%>" method="POST" >
     
        <input class="form-control"  styletype="text"   name="content" >

    
    <button class="btn btn-primary" type="submit" value="Submit" style="border-radius: 10px;">Add comment</button>
    </form>
    <%fave.comments.forEach(comment => {%>
      <%=comment.content %> 

    <%}) %> 
    <%}%>


    
    

    
    
  
 

  

  


  

  

  <a href="/">&larr; Back Home

  





  