<%- include('../partials/header.ejs', { user }) %> 


 <div style=" margin-left: 400px;width: 1200px;">

    <!-- Food name, foodNutrients[], list of ingredients  -->
       <%results.forEach(result=>{%>
          <a style="border:1px solid rgb(94, 94, 172);"href="/food/<%=result.fdcId%> ">See details</a>
        
        
           
            <p>Food Category: <%=result.foodCategory%></p>
            <p>Description: <%=result.description%></p>
            <p>Market Country: <%=result.marketCountry%></p>
            <p>ServingSize: <%=result.servingSize%></p>
            <p>Engredients: <%=result.ingredients%></p>
           
           
       <%})%>
       
 </div>





<%- include('../partials/footer.ejs') %>
