<%- include('../partials/header.ejs', { user }) %> <%-
include('../partials/form.ejs') %>

<% if (results.isArray(results) %> 
    <% results.forEach(function(result) { %> 
        <h2><%=result.name%></h2>
        <ul>
            <%result.ingredients.forEach(ingredient=>{ %>
         <li >
            <%=ingredient%>
         </li>
        
      
  
  <%}else{ %>
    <%results.forEach(function(result)%> 
        <h2><%= result.name %></h2>
        <ul>
            <%result.ingredients.forEach(ingredient=>{ %>
         <li >
            <%=ingredient%>
         </li>
    
 <%}%>  
  

<%- include('../partials/footer.ejs') %>
